body{margin: 0;}
h1{border-bottom: 1px solid gray;
margin: 0;
padding: 20px;
font-family: "나눔고딕"}
#list{border-right: 1px solid gray;
margin: 10px;
padding: 0px;
width: 130px;}
.c{text-decoration: none;
color: black;}
.cc{text-decoration: none;
color: #94eb3e;}
.ccc{text-decoration: none;
color: black;}
.b{text-decoration: none;
color: black;}
table{border-collapse: collapse;}
th{background-color: #bcff66}
#grid{
display: grid;
grid-template-columns: 150px 1fr;
}
#grid #data{
padding-left: 20px;
}
.pic{
display: grid;
grid-template-columns: 300px 300px 300px;
text-align: center;
font-weight: 1000;
grid-gap: 10px;
border-bottom: 1px solid gray;
padding-bottom: 20px;
}
.table1{display: grid;
padding: 20px;
}
img.w{
position: relative;
left: 1100px;
transform: rotate(-90deg);}
@media (max-width:800px) {
#grid{display: block;}
h1{border-bottom: none;}
#list{border-right: none;}
#grid #data{padding-left: 0px;}

}
