body{margin: 0;}
h1{border-bottom: 1px solid gray;
margin: 0;
padding: 20px;
font-family: "나눔고딕"}
.b{text-decoration: none;
color: black;}
.c{text-decoration: none;
color: black;}
.cc{text-decoration: none;
color: black;}
.ccc{text-decoration: none;
color: #94eb3e;}
#list{border-right: 1px solid gray;
margin: 10px;
padding: 0px;
width: 130px;}
#grid{
display: grid;
grid-template-columns: 200px 1fr;
}
#grid #data{
padding-left: 20px;}
#data{display: grid;
grid-template-columns: 250px 250px;
margin-top: 10px;}
.update{display: grid;
padding-bottom: 20px;
}
@media (max-width:800px) {
#grid{display: block;}
h1{border-bottom: none;}
#list{border-right: none;}
#grid #data{padding-left: 0px;}

}
